[submodule "vim/bundle/CoVim"]
	path = vim/bundle/CoVim
	url = git@github.com:FredKSchott/CoVim.git
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = git@github.com:rking/ag.vim.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git@github.com:vim-scripts/closetag.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git@github.com:sjl/gundo.vim.git
[submodule "vim/bundle/indentline"]
	path = vim/bundle/indentline
	url = git@github.com:Yggdroot/indentLine.git
[submodule "nerdtree"]
	path = nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = git@github.com:tpope/vim-markdown.git
[submodule "vim/bundle/showmarks"]
	path = vim/bundle/showmarks
  url = git@github.com:vim-scripts/ShowMarks.git
  ignore = dirty
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git@github.com:tpope/vim-surround.git
[submodule "vim/bundle/yacom"]
	path = vim/bundle/yacom
	url = git@github.com:gokcehan/vim-yacom.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/align"]
	path = vim/bundle/align
	url = git@github.com:vim-scripts/Align.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = git@github.com:xolox/vim-session.git
[submodule "vim/bundle/vim-markdown-folding"]
	path = vim/bundle/vim-markdown-folding
	url = git@github.com:nelstrom/vim-markdown-folding.git
[submodule "vim/bundle/matchtag"]
	path = vim/bundle/matchtag
	url = git@github.com:gregsexton/MatchTag.git
[submodule "vim/bundle/vim-livereload"]
	path = vim/bundle/vim-livereload
	url = git@github.com:flomotlik/vim-livereload.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/tern-meteor"]
	path = vim/tern-meteor
	url = https://github.com/Slava/tern-meteor
[submodule "tern_for_vim"]
	path = tern_for_vim
	url = https://github.com/marijnh/tern_for_vim
[submodule "vim/bundle/tern"]
	path = vim/bundle/tern
	url = https://github.com/marijnh/tern_for_vim
[submodule "vim/bundle/tern-meteor"]
	path = vim/bundle/tern-meteor
	url = https://github.com/Slava/tern-meteor
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
